name: Publish Leaks

on:
  workflow_dispatch: {}

jobs:
  publish:
    runs-on: macos-13

    env:
      MAESTRO_DRIVER_STARTUP_TIMEOUT: 600000

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7

      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_15.2.0.app && /usr/bin/xcodebuild -version
      
      - name: Install Maestro
        run: |
          curl -Ls --retry 3 --retry-all-errors "https://get.maestro.mobile.dev" | bash
          echo "${HOME}/.maestro/bin" >> $GITHUB_PATH
      
      - name: Print Maestro version
        run: maestro --version
   
      - name: Check xcodebuild
        run: xcodebuild -version
        
      - name: List xcode runtimes
        run: xcrun simctl list runtimes
        
      - name: Set permission to scripts
        run: chmod +x .github/scripts/boot_simulator.sh
        
      - name: Boot Simulator
        run: ./.github/scripts/boot_simulator.sh
     
      - name: Check Simulator Status
        run: xcrun simctl list


      - name: Build Fennec Client
        run: |
          ./checkout.sh
          ./bootstrap.sh --force
          xcodebuild \
            build-for-testing \
            -scheme Fennec \
            -project ./firefox-ios/Client.xcodeproj \
            -destination "generic/platform=iOS Simulator" \
            -derivedDataPath ./build \
            ARCHS="x86_64"
      
      - name: Install App
        run: |
          xcrun simctl install booted ./build/Build/Products/Fennec_Testing-iphonesimulator/Client.app

      - name: Launch App
        run: |
          export SIMCTL_CHILD_MallocStackLogging=1
          OUTPUT=$(xcrun simctl launch booted org.mozilla.ios.Fennec)
          PID=$(echo "$OUTPUT" | awk '{print $2}')
          echo "PID: $PID"
          echo "PID=$PID" >> $GITHUB_ENV

      - name: Run test
        run: maestro test ./.github/scripts/suggestion_flow.yaml

      - name: Run leaks command
        run: leaks ${{ env.PID }} --exclude "Nimbus.applyLocalExperiments(getString:)" --exclude "Nimbus.recordEvent(_:_:)" --exclude "NimbusEventStore.recordEvent(_:)" --exclude "Nimbus.fetchExperiments()" --exclude "static Experiments.updateGlobalUserParticipation()" --exclude "SQLiteDBStatement.bind(_:)" --exclude "UISoundNewDevice" >> ~/leaks.txt

      - name: Upload leaks output
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: leaks_output
          path: ~/leaks.txt
          retention-days: 1

      - name: Upload maestro logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: maestro_logs
          path: ~/.maestro/tests/
          retention-days: 1
          include-hidden-files: true

      - name: Upload App Build
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: app_derived_data
          path: ./build/Build/Products
          retention-days: 1
          include-hidden-files: true
