name: Publish Leaks

on:
  workflow_dispatch: {}

jobs:
  publish:
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_15.0.1.app && /usr/bin/xcodebuild -version
   
      - name: Check xcodebuild
        run: xcodebuild -version
        
      - name: List xcode runtimes
        run: xcrun simctl list runtimes
        
      - name: Set permission to scripts
        run: chmod +x .github/scripts/boot_simulator.sh
        
      - name: Boot Simulator
        run: ./.github/scripts/boot_simulator.sh
     
      - name: Check Simulator Status
        run: xcrun simctl list
      
      - name: Install App
        run: |
          unzip -o ./.github/assets/Client.zip -d ./.github/assets/
          xcrun simctl install booted ./.github/assets/Client.app

      - name: Launch App
        run: |
          export SIMCTL_CHILD_MallocStackLogging=1 && xcrun simctl launch booted org.mozilla.ios.Fennec

          
      

     
