name: Publish Leaks

on:
  workflow_dispatch: {}

jobs:
  publish:
    runs-on: macos-13

    env:
      MAESTRO_DRIVER_STARTUP_TIMEOUT: 600000

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_15.2.0.app && /usr/bin/xcodebuild -version
      
      - name: Install Maestro
        run: |
          curl -Ls --retry 3 --retry-all-errors "https://get.maestro.mobile.dev" | bash
          echo "${HOME}/.maestro/bin" >> $GITHUB_PATH
          sudo DevToolsSecurity -enable

      
      - name: Print Maestro version
        run: maestro --version
   
      - name: Check xcodebuild
        run: xcodebuild -version
        
      - name: List xcode runtimes
        run: xcrun simctl list runtimes
        
      - name: Set permission to scripts
        run: chmod +x .github/scripts/boot_simulator.sh
        
      - name: Boot Simulator
        run: ./.github/scripts/boot_simulator.sh
     
      - name: Check Simulator Status
        run: xcrun simctl list
      
      - name: Install App
        run: |
          unzip -o ./.github/assets/Client.zip -d ./.github/assets/
          xcrun simctl install booted ./.github/assets/Client.app

      - name: Launch App
        run: |
          export SIMCTL_CHILD_MallocStackLogging=1
          OUTPUT=$(xcrun simctl launch booted org.mozilla.ios.Fennec)
          PID=$(echo "$OUTPUT" | awk '{print $2}')
          echo "PID: $PID"
          echo "PID=$PID" >> $GITHUB_ENV

      - name: Run test
        run: maestro test ./.github/scripts/suggestion_flow.yaml

      - name: Run leaks command
        run: sudo leaks ${{ env.PID }} >> ~/leaks.txt

      - name: Upload leaks output
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: leaks_output
          path: ~/leaks.txt
          retention-days: 1

      - name: Upload maestro logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: maestro_logs
          path: ~/.maestro/tests/
          retention-days: 1
          include-hidden-files: true

      - name: Capture ps output
        if: failure()
        run: |
          ps aux > ~/ps_output.txt

      - name: Upload ps output
        uses: actions/upload-artifact@v4
        if: failure()
        with: 
          name: ps_output
          path: ~/ps_output.txt
          retention-days: 1
